*{
    font-family:Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}


/* Nav Links Section  */
#nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 60px;
    gap : 35px;
}

#nav-links a{
    background-color: rgb(255, 0, 0);;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#logo-image{
    background-color:rgb(255, 0, 0);;
}




/* Introduction Section */

.author-image{
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    border: 3px solid rgb(255, 0, 0);
    border-radius: 500%;
    object-fit: contain;
    box-shadow: 0 0 35px rgb(255, 0, 0);

}

h1,h2{
    text-align: center;
    color: rgb(255, 0, 0);
}

.paragraph{
    text-align: center;
}


/* Video Intro Section */

.video-introduction{
    display: flex;
    align-items: center;
    justify-content: center;
} 

div iframe{
    width: 80%;
    height: 80vh;
}


/* Qualification Sec */

.qualification{
    width: 100%;
    height: 20vh;
    text-align: center;
}

.qualification,.edu-head, .edu-data{
    border: 1px solid rgb(255, 0, 0);
    border-collapse: collapse;
}
.qualification .edu-head{
    padding: 10px;
}


/* Skills Section */

.skills{
    width:100%;
    height: 30vh;
    text-align: center;
}

.skills,.skill-head,.skill-data{
    border: 1px solid rgb(255, 0, 0);
    border-collapse: collapse;
}

.skills .skill-head{
    padding: 5px;
}



/* Experience Sec */

span{
    font-weight: bold;
}


.experience{
    padding-left: 25px;
}


/* Personal-info Section */

.personal-info{
    padding-left: 25px;
}

.personal-info ul li{
    padding: 8px;
}


/* Contact Section */

.contact{
    flex: 1;
    align-items: start;
    justify-content: start;
}

input{
    width: 350px;
    height: 30px;
    border-radius: 10px;
    border-color: rgb(255, 0, 0);
    margin: 20px;
}
label{
    margin: 25px;

}

textarea{
    width: 500px;
    height: 70px;
    border-radius: 10px;
    border-color: rgb(255, 0, 0);
    padding: 20px;
    margin: 20px;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 30px;
    margin-left: 20vh;
    font-size: 20px;
    border-radius: 10px;
    border-color: rgb(255, 0, 251);
    background-color: rgb(255, 0, 0);
    color: white;
    box-shadow: 0 0 30px rgb(255, 0, 251);
    cursor: pointer;
}

button:hover{
    background-color: rgb(255, 0, 251);
    border-color: rgb(255, 0, 0);
    box-shadow: 0 0 30px rgb(255, 0, 0);
}

.map-container{
    display: flex;
    justify-content: space-between;
    padding-left: 120px;
}

.my-map-location {
    flex: 1;
    margin-left: 50px; 
}

.my-map-location iframe{
    height: 450px;
    width: 85%;
}


/* Social Media Links */

.social-media-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}


.social-media-links a img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}


/* Ending */

.ending-text {
    text-align: center;
    background-color: rgb(90, 90, 90);
    height: 60px;
    padding: 20px;
}

.ending-text p {
    background-color: rgb(90, 90, 90);
    color: white;
    text-decoration: underline;
}

.ending-text a{
    background-color: rgb(90, 90, 90);
    color: white;
    text-decoration: underline;
}


